/* 
font-family: 'Merriweather', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Nova Oval', cursive;
font-family: 'Sacramento', cursive;
font-family: 'Titillium Web', sans-serif;
*/

body{
  font-family: 'Titillium Web', sans-serif;
  background-color: #F9F7F7;
  /* width: 100%; */
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins' , 'sans-serif';
}
::selection{
  background: #3F72AF;
  color: #fff;
}
span{
  color: rgb(96, 174, 251);
}
a{
  text-decoration: none;
}


.body{
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 1rem;
  /* background-color: #3F72AF; */
}
.body_div{
  width: 100em;
  /* background-color: white; */
}
/* .header{
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  font-size: 1em;
  padding: 0.5em 1.5em;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;

  background-color: #112D4E;
} */

.logo{
  position: relative;
  font-size: 1.5em;
  font-family: 'Titillium Web', sans-serif;
  color: #fff;
  user-select: none;
  display: flex;
  justify-content: center;;
  align-items: center;

  /* background-color: blanchedalmond; */
}
.logo:hover{
  cursor: pointer;
}


nav ul{
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;

  /* background-color: skyblue; */
}
nav ul li{
  font-size: 1em;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  
  /* background-color: green; */
}
.Welcome{
  position: relative;
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
  margin-right: 0.7em;
  /* font-weight:bold; */
  color: #fff;

  /* background-color: white; */
}
nav ul li span{
  position: relative;
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
  font-weight:700;
  color: #fff;

}
nav ul li a{
  position: relative;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.5s cubic-bezier(0.68,-0.55,0.265,1.55);

  /* background-color: green; */
}
nav ul li a:hover{
  text-decoration: underline;
}
nav ul li a ion-icon{
  font-size: 1.3em;
  padding-left: 0.7em;
  color: #fff;
}








.one{
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100svh;
  top: 0;
  right: 0;
  background-color: #F9F7F7;
  font-size: 1rem;
}
.two{
  width: 90%;
  position: relative;
  top: 0;
  /* background-color: #F9F7F7; */
}
/* .add{
  position: relative;
  width: 100%;
  margin: 1.8em 0;
  display: flex; 
  justify-content: space-evenly; 
  align-items: center;

  background-color: red;
}
.add_div{
  position: relative;
  display: flex; 
  width: 80%;

  background-color: black;
} */
/* .work_box{
  position: relative;
  height: 2em;
  width: 28em;
  padding-left: 0.5em;
  font-size:x-large;
  border-radius: 10px;
  font-family: 'Titillium Web', sans-serif;
}
.add_button{
  position: relative;
  height: 2.5em;
  width: 4em;
  margin-left: 2em;
  font-size: 1.2em;
  cursor: pointer;
  border-radius: 10px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  transition: all 0.4s ease;
  
} */
button.add_button {
  font-family: 'Titillium Web', sans-serif;
}
.add_button{
  background-color: #fb8e21;
  color: white;
}
.add_button:hover{
  cursor: pointer;
  color: white;
  background-color: #f57a00;
  transition: all 0.4s ease;
  border: 1px solid black;
  font-family: 'Titillium Web', sans-serif;
}
hr{
  margin: 0em 5%;
  width: 90%;
}
.tasks{
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  /* background-color: green; */
}
.task_boxs{
  position: relative;
  width: 80%;
  /* padding: 0 1rem; */

  /* background-color: red; */
}
/* 
.task_box{
  position: relative;
  width: 100%;
  height: auto;
  margin: 1.2em 0;
  padding: 0.5em;
  font-size: x-large;
  border-radius: 10px;
  display: flex;
  align-items: center;

  background-color: #DBE2EF;
}
.a{
  position: absolute;
  top: 0.8em;
}
.a .task-checkbox {
  width: 0.8em;
  height: 0.8em;
  font-size: 1em;
  cursor: pointer;
}
.task-complete {
  text-decoration: line-through;
}
.b{
  margin-left: 1.5em;
  padding-right: 1.5em;
}
.task{
  font-family: 'Titillium Web', sans-serif;
  width: 100%;
}
.c{
  position: absolute;
  top: 0.8em;
  right: 1em;
  border: none;
}
.trash_button{
  border: none;
  appearance: none;
  background-color: inherit;
}
.trash_icon {
  z-index: 3;
  width: 2em;
  height: 2em;
  color: red;
  cursor: pointer;
} 
*/



/* large screen  --------------------------------------------------------------------------------------------------------------*/
@media (min-width: 1024px) {
  .header{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    font-size: 1em;
    padding: 0.5em 1.5em;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
  
    background-color: #112D4E;
  }
  .logo{
    position: relative;
    font-size: 1.5em;
    font-family: 'Titillium Web', sans-serif;
    color: #fff;
    user-select: none;
    display: flex;
    justify-content: center;;
    align-items: center;
  
    /* background-color: blanchedalmond; */
  }
  .logo:hover{
    cursor: pointer;
  }
  
  
  nav ul{
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    /* background-color: skyblue; */
  }
  nav ul li{
    font-size: 1em;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    
    /* background-color: green; */
  }
  .Welcome{
    position: relative;
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    margin-right: 0.7em;
    /* font-weight:bold; */
    color: #fff;
  
    /* background-color: white; */
  }
  nav ul li span{
    position: relative;
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    font-weight:700;
    color: #fff;
  
  }
  nav ul li a{
    position: relative;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.5s cubic-bezier(0.68,-0.55,0.265,1.55);
  
    /* background-color: green; */
  }
  nav ul li a:hover{
    text-decoration: underline;
  }
  nav ul li a ion-icon{
    font-size: 1.3em;
    padding-left: 0.7em;
    color: #fff;
  }
  
  
  
  
  
  
  
  
  .one{
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100svh;
    top: 0;
    right: 0;
    background-color: #F9F7F7;
    font-size: 1rem;
  }
  .two{
    width: 90%;
    position: relative;
    top: 0;
    /* background-color: #F9F7F7; */
  }
  .add{
    position: relative;
    width: 100%;
    margin: 1.8em 0;
    display: flex; 
    justify-content: space-evenly; 
    align-items: center;
  
    /* background-color: red; */
  }
  .add_div{
    position: relative;
    display: flex; 
    width: 80%;
  
    /* background-color: black; */
  }

  hr{
    /* margin: 1.8rem; */
    width: 90%;
  }
  .tasks{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  
    /* background-color: green; */
  }
  .task_boxs{
    position: relative;
    width: 80%;
    /* padding: 0 1rem; */
  
    /* background-color: red; */
  }
  .work_box{
    position: relative;
    height: 2em;
    width: 25em;
    padding-left: 0.5em;
    font-size:x-large;
    border-radius: 10px;
    font-family: 'Titillium Web', sans-serif;
  }
  .add_button{
    position: relative;
    height: 2.5em;
    width: 4em;
    margin-left: 2em;
    font-size: large;
    cursor: pointer;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    transition: all 0.4s ease;
  }
  .task_box{
    position: relative;
    width: 100%;
    height: auto;
    margin: 1.2em 0;
    padding: 0.5em;
    font-size: x-large;
    border-radius: 10px;
    display: flex;
    align-items: center;
  
    background-color: #DBE2EF;
  }
  .a{
    position: absolute;
    top: 0.8em;
  }
  .a .task-checkbox {
    width: 0.8em;
    height: 0.8em;
    font-size: 1em;
    cursor: pointer;
  }
  .task-complete {
    text-decoration: line-through;
  }
  .b{
    margin-left: 1.5em;
    padding-right: 1.5em;
  }
  .task{
    font-family: 'Titillium Web', sans-serif;
    width: 100%;
  }
  .c{
    position: absolute;
    top: 0.8em;
    right: 1em;
    border: none;
  }
  .trash_button{
    border: none;
    appearance: none;
    background-color: inherit;
  }
  .trash_icon {
    z-index: 3;
    width: 2em;
    height: 2em;
    color: red;
    cursor: pointer;
  }
}
/* small screen  -------------------------------------------------------------------------------------------------------------*/
@media (max-width: 1024px) {
  .header{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    font-size: 0.9em;
    padding: 0.6em 1.5em;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
  
    background-color: #112D4E;
  }
  .add{
    position: relative;
    width: 100%;
    margin: 1.4em 0;
    display: flex; 
    justify-content: space-evenly; 
    align-items: center;
  
    /* background-color: red; */
  }
  .add_div{
    position: relative;
    display: flex; 
    width: 80%;
  
    /* background-color: black; */
  } 
  .work_box{
    position: relative;
    height: 2em;
    width: 16em;
    padding-left: 0.4em;
    font-size:x-large;
    border-radius: 10px;
    font-family: 'Titillium Web', sans-serif;
  }
  .add_button{
    position: relative;
    height: 2.5em;
    width: 3.5em;
    margin-left: 2em;
    font-size: large;
    cursor: pointer;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    transition: all 0.4s ease; 
  }
  .task_box{
    position: relative;
    width: 100%;
    height: auto;
    margin: 0.9em 0;
    padding: 0.5em;
    font-size: x-large;
    border-radius: 10px;
    display: flex;
    align-items: center;
  
    background-color: #DBE2EF;
  }
  .a{
    position: absolute;
    top: 0.8em;
  }
  .a .task-checkbox {
    width: 0.8em;
    height: 0.8em;
    font-size: 1em;
    cursor: pointer;
  }
  .task-complete {
    text-decoration: line-through;
  }
  .b{
    margin-left: 1.5em;
    padding-right: 1.5em;
  }
  .task{
    font-family: 'Titillium Web', sans-serif;
    width: 100%;
  }
  .c{
    position: absolute;
    top: 0.8em;
    right: 1em;
    border: none;
  }
  .trash_button{
    border: none;
    appearance: none;
    background-color: inherit;
  }
  .trash_icon {
    z-index: 3;
    width: 2em;
    height: 2em;
    color: red;
    cursor: pointer;
  }
}
/* x-small screen ---------------------------------------------------------------------------------------------------------*/
@media (max-width: 700px) {
  .header{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    font-size: 0.6em;
    padding: 0.7em 1.5em;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
  
    background-color: #112D4E;
  }
  .add{
    position: relative;
    width: 100%;
    margin: 1em 0;
    display: flex; 
    justify-content: space-evenly; 
    align-items: center;
  
    /* background-color: red; */
  }
  .add_div{
    position: relative;
    display: flex; 
    width: 80%;
  
    /* background-color: black; */
  }
  .work_box{
    position: relative;
    height: 2.5em;
    width: 16em;
    padding-left: 0.3em;
    font-size: small;
    border-radius: 5px;
    font-family: 'Titillium Web', sans-serif;
    border: black solid 1px;
  }
  .add_button{
    position: relative;
    height: 2.5em;
    width: 4em;
    margin-left: 2em;
    font-size: small;
    cursor: pointer;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    transition: all 0.4s ease;
    border: black solid 1px;
  }
  .task_box{
    position: relative;
    width: 100%;
    height: auto;
    margin: 1.2em 0;
    padding: 0.5em;
    font-size: small;
    border-radius: 5px;
    display: flex;
    align-items: center;
  
    background-color: #DBE2EF;
  }
  .a{
    position: absolute;
    top: 0.9em;
  }
  .a .task-checkbox {
    width: 0.8em;
    height: 0.8em;
    font-size: 1em;
    cursor: pointer;
    /* margin-right: 0.5em; */
  }
  .task-complete {
    text-decoration: line-through;
  }
  .b{
    margin-left: 1.5em;
    padding-right: 1.5em;
  }
  .task{
    font-family: 'Titillium Web', sans-serif;
    width: 100%;
  }
  .c{
    position: absolute;
    top: 0.7em;
    right: 1em;
    border: none;
  }
  .trash_button{
    border: none;
    appearance: none;
    background-color: inherit;
  }
  .trash_icon {
    z-index: 3;
    width: 1em;
    height: 1em;
    color: red;
    cursor: pointer;
  }
}



/* xx-small screen ---------------------------------------------------------------------------------------------------*/
@media (max-width: 450px) {
  .header{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    font-size: 0.4em;
    padding: 0.7em 1.5em;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
  
    background-color: #112D4E;
  }
  .add{
    position: relative;
    width: 100%;
    margin: 0.5em 0;
    display: flex; 
    justify-content: space-evenly; 
    align-items: center;
  
    /* background-color: red; */
  }
  .add_div{
    position: relative;
    display: flex; 
    width: 80%;
  
    /* background-color: black; */
  }
  .work_box{
    position: relative;
    height: 2.3em;
    width: 14em;
    padding-left: 0.3em;
    font-size: x-small;
    border-radius: 5px;
    font-family: 'Titillium Web', sans-serif;
    border: black solid 1px;
  }
  .add_button{
    position: relative;
    height: 2.5em;
    width: 4em;
    margin-left: 2em;
    font-size: xx-small;
    cursor: pointer;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    transition: all 0.4s ease;
    border: black solid 1px;
  }
  .task_box{
    position: relative;
    width: 100%;
    height: auto;
    margin: 0.6em 0;
    padding: 0.5em;
    font-size: small;
    border-radius: 5px;
    display: flex;
    align-items: center;
  
    background-color: #DBE2EF;
  }
  .a{
    position: absolute;
    top: 0.8em;
  }
  .a .task-checkbox {
    width: 0.8em;
    height: 0.8em;
    font-size: 1em;
    cursor: pointer;
    /* margin-right: 0.5em; */
  }
  .task-complete {
    text-decoration: line-through;
  }
  .b{
    margin-left: 1.5em;
    padding-right: 1.5em;
  }
  .task{
    font-family: 'Titillium Web', sans-serif;
    width: 100%;
  }
  .c{
    position: absolute;
    top: 0.7em;
    right: 0.5em;
    border: none;
  }
  .trash_button{
    border: none;
    appearance: none;
    background-color: inherit;
  }
  .trash_icon {
    z-index: 3;
    width: 1em;
    height: 1em;
    color: red;
    cursor: pointer;
  }
}
