@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
::selection{
    background: #3F72AF;
    color: #fff;
}
html,body{
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: #DBE2EF;
  place-items: center;
  /* background: -webkit-linear-gradient(left, #3F72AF, #F9F7F7); */
  /* background: url(alarge_back.jpg) no-repeat; */
  background-position: center;
  background-size: cover ;
  font-size: 1.6rem;
}

/* large screen  */
@media (min-width: 1024px) {
    :root{
        font-size: 62.5%;
    }
 }
 /* small screen  */
 @media (max-width: 1024px) {
    :root{
        font-size: 52.5%;
    }
 }
/* x-small screen */
@media (max-width: 700px) {
    :root{
        font-size: 42.5%;
    }
}
/* xl-small screen */
@media (max-width: 450px) {
    :root{
        font-size: 32.5%;
    }
}
  

.flex-container {
    position: absolute;
    top: 0;
  }
  .flex-container > h1{
    font-size: 5rem;
    margin-top: 3rem;
  }
.wrapper{
    overflow: hidden;
    max-width: 40rem;
    background: transparent;
    border: 0.3rem solid rgba(255,255,255,0.5);
    border-radius: 2rem;
    backdrop-filter: blur(1rem);
    padding: 3rem;
    border-radius: 1.5rem;
    box-shadow: 0rem 1.5rem 2rem rgba(0,0,0,0.1);
}
.wrapper .title-text{
    display: flex;
    width: 200%;
}
  .wrapper .title{
    width: 50%;
    font-size: 3.5rem;
    font-weight: 600;
    text-align: center;
    font-family: 'Titillium Web', sans-serif;
    transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
}
  .wrapper .slide-controls{
    position: relative;
    display: flex;
    height: 5rem;
    width: 100%;
    overflow: hidden;
    margin: 3rem 0 1rem 0;
    justify-content: space-between;
    border: 0.2rem solid lightgrey;
    border-radius: 0.5rem;
}

.close{
   position: absolute;
   top: 0%;
   right: 0;
   width: 3.5rem;
   height: 3.5rem;
   font-size: 1.5rem;
   border-bottom-left-radius: 1.5rem;
   color: white;
   background: black;
   display: flex;
   justify-content: center;
   align-items: center;
}


.slide-controls .slide{
    height: 100%;
    width: 100%;
    color: #fff;
    font-size: 1.8rem;
    font-weight: 500;
    text-align: center;
    line-height: 4.8rem;
    cursor: pointer;
    z-index: 1;
    transition: all 0.5s ease;
}
.slide-controls label.signup{
    color: #000;
}
.slide-controls .slider-tab{
    position: absolute;
    height: 100%;
    width: 50%;
    left: 0;
    z-index: 0;
    border-radius: 0.5rem;
    background: -webkit-linear-gradient(left, #112D4E, #3F72AF);
    transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
}
#login_label{
    cursor: default;
}
input[type="radio"]{
    display: none;
}
.wrapper .form-container{
   width: 100%;
   overflow: hidden;
}
.form-container .form-inner{
    display: flex;
    width: 200%;
}
.form-container .form-inner form{
    width: 50%;
    transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
}
.form-inner form .field{
    height: 4.7rem;
    width: 100%;
    margin-top: 1.3rem;
    padding-left: 0rem;
}
.form-inner form .field input{
    height: 100%;
    width: 100%;
    outline: none;
    padding-left: 1.5rem;
    border-radius: 0.5rem;
    border: 0.1rem solid lightgrey;
    border-bottom-width: 0.1rem;
    font-size: 1.5rem;
    transition: all 0.3s ease;
}
.form-inner form .field input:focus{
    border-color: black;
    /* box-shadow: inset 0 0 3px black; */
}
.form-inner form .field input::placeholder{
    color: #999;
    transition: all 0.3s ease;
}
form .field input:focus::placeholder{
    color: #b3b3b3;
}


.form-inner form .pass-link {
   display: flex;
   justify-content: flex-end;
   margin-top: 1.5rem;
}
.form-inner form label input{
   position: relative;
   margin-top: 7%;
}

.form-inner form .signup-link{
    text-align: center;
    margin-top: 3rem;
}
.form-inner form .pass-link a,
.form-inner form .signup-link a{
   color: #3F72AF;
    text-decoration: none;
}
.form-inner form .pass-link a:hover,
.form-inner form .signup-link a:hover{
    text-decoration: underline;
}
form .btn{
    height: 5rem;
    width: 100%;
    border-radius: 0.5rem;
    position: relative;
    overflow: hidden;
}
form .btn .btn-layer{
    height: 100%;
    width: 300%;
    position: absolute;
    left: -100%;
    background: -webkit-linear-gradient(right, #112D4E, #3F72AF, #112D4E, #3F72AF);
    border-radius: 0.5rem;
    transition: all 0.4s ease;
}
form .btn:hover .btn-layer{
    left: 0;
}
form .btn input[type="submit"]{
    height: 100%;
    width: 100%;
    z-index: 1;
    position: relative;
    background: none;
    border: none;
    color: #fff;
    padding-left: 0;
    border-radius: 0.5rem;
    font-size: 2rem;
    font-weight: 500;
    cursor: pointer;
}
.terms_conditions{
    cursor: pointer;
    color: #3F72AF;
    text-decoration: none;

}
.terms_conditions:hover{
    text-decoration: underline;
}
.mail, .username_icon{
   height: 6%;
   width: 6%;
   z-index: 1;
   position: absolute;
   color: black;
   margin-top: 0.5rem;
   margin-left: 30rem;
}
.lock{
   height: 6%;
   width: 6%;
   z-index: 1;
   position: absolute;
   color: black;
   margin-top: 0.5rem;
   margin-left: 30rem;
   cursor: pointer;
}
.unlock{
   height: 6%;
   width: 6%;
   z-index: -1;
   position: absolute;
   color: black;
   margin-top: 0.5rem;
   margin-left: 30rem;
   cursor: pointer;
}
.signup-link .signup_now{
   color: #3F72AF;
   cursor: pointer;
}
.signup-link .signup_now:hover{
   text-decoration: underline;
}
.login_now{
   color: #3F72AF;
   cursor: pointer;
}
.signup-link .login_now:hover{
   text-decoration: underline;
}
